<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">
    
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label class="fonts">หน้าหลัก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="mail"></ion-icon>
      <ion-label class="fonts">ลางาน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="notifications"></ion-icon>
      <ion-label class="fonts">ผลการอนุมัติ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
        <ion-icon name="person"></ion-icon>
        <ion-label class="fonts">ข้อมูลส่วนตัว</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
