@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');

.welcome-card img {
  max-height: 30vh;
  overflow: hidden;
  background: linear-gradient(160deg, rgba(127,183,255,1) 0%, rgba(127,183,255,1) 50%, rgba(117,50,218,1) 100%);
  font-family: 'Prompt', sans-serif;
}
/* .box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
} */
ion-card {
  margin-top: 40px;
  border-radius: 28px;
  text-align: left;
  font-family: 'Prompt', sans-serif;
}
ion-toolbar {
  font-family: 'Prompt', sans-serif;
  --background: linear-gradient(160deg, rgba(127,183,255,1) 0%, rgba(127,183,255,1) 35%, rgba(117,50,218,1) 100%);
}
ion-title {
  color: white;
}
.txt {
  font-family: 'Prompt', sans-serif;
}

